<div class="match">
  <div class="name">{{nom}}<p>Nom</p></div>
  <div class="prenom">{{prenom}}<p>Prénom</p></div>
  <div class="photo">{{photoUrl}}<p>Ma Photo</p></div>
  <div class="reponse">
    <button type="button" class="btn btn-success">Like</button>
    <button type="button" class="btn btn-danger">Nope</button>
  </div>
</div>

