<h1>Nouveau Profil</h1>
<div class="profil">
  <label>
    <input type="text"/> Nom
  </label>
  <label>
    <input type="text" /> Prénom
  </label>
  <label>
    <input type="text" /> URL de la Photo
  </label>
  <label>
    <input type="text" /> Centre d'intérêt 1
  </label>
  <label>
    <input type="text" /> Centre d'intêret 2
  </label><label>
  <input type="text" /> Centre d'intêret 3
</label>
  <button value="Répondre"(click)="submitProfile(name: string, prenom: string, url: string, interet1: string, interet2: string, interet3: string)">Envoyer</button>
</div>



