<app-header></app-header>
<h1>Voici tes prétendants</h1>
<div *ngFor="let profil of listProfil">
  <app-match
    [id]="profil.id"
    [prenom]="profil.prenom"
    [nom]="profil.nom"
    [photoUrl]="profil.photoUrl"
    [interets]="profil.interets"
>
  </app-match>
  </div>

<app-footer></app-footer>
